<section id="exercises" class="exercises">
  <div class="container container-exercises">
    <h2 class="exercises-title">Exercises</h2>
    <ul class="exercises-btn-list js-exercises-btn-list">
      <li class="exercises-btn-item">
        <button class="exercises-btn exercises-btn-active" value="Muscles">
          Muscles
        </button>
      </li>
      <li class="exercises-btn-item">
        <button class="exercises-btn" value="Body parts">Body parts</button>
      </li>
      <li class="exercises-btn-item">
        <button class="exercises-btn" value="Equipment">Equipment</button>
      </li>
    </ul>
    <ul class="exercises-list js-exercises-list"></ul>
    <div class="exercises-numbering-list">
      <!-- <button class="exercises-numbering-item exercises-numbering-item-active">
        1
      </button>
      <button class="exercises-numbering-item">2</button> -->
    </div>
  </div>
</section>
