<section>
  <div class="container">
    <!-- ============= Forma =============== -->
    <div class="exercises-name">
      <h2 class="exercises-title">Exercises /</h2>
      <p class="exercises-next">Waist</p>
    </div>
    <button></button>
    <button></button>
    <button></button>
    <form id="form-exercises" class="form-exercises">
      <input
        class="form-input"
        type="text"
        name="text"
        required
        placeholder="Search"
      />
      <button class="button-search form-btn-search" type="submit">
        <svg class="icon-search" width="18" height="18">
          <use href="./img/icons_sprite.svg#icon-search"></use>
        </svg>
      </button>
      <button class="button-delete form-btn-search">
        <svg class="icon-delete" width="12" height="12">
          <use href="./img/icons_sprite.svg#icon-closed"></use>
        </svg>
      </button>
    </form>
    <ul class="exercises-search"></ul>
  </div>
</section>
