<footer id="footer" class="footer hide">
  <div class="container container-footer">
    <div class="footer-wrap">
      <div class="footer-social-wrap">
        <a href="#header" class="logo footer-logo">energy.flow</a>
        <ul class="social-list footer-social-list">
          <li class="social-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="social-link"
              target="_blank"
            >
              <svg class="social-icon" width="28" height="28">
                <use href="./img/icons_sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="social-link"
              target="_blank"
            >
              <svg class="social-icon" width="28" height="28">
                <use href="./img/icons_sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="social-link"
              target="_blank"
            >
              <svg class="social-icon" width="28" height="28">
                <use href="./img/icons_sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <h2 class="footer-title hero-title">
        Transforming your
        <span class="title-acent footer-title-acent">body</span> shape with us
      </h2>
      <form class="footer-form">
        <label class="footer-form-label">
          <span class="footer-form-text"
            >Subscribe and learn about new exercises!</span
          >
          <input
            type="email"
            name="user_email"
            placeholder="Email"
            class="footer-form-input"
          />
        </label>
        <button type="submit" class="btn-grey">Send</button>
      </form>
    </div>
    <div class="footer-reserved-wrap">
      <p>Energy Flow. All rights reserved.</p>
      <div class="footer-reserved-privacy">
        <p>Privacy Policy</p>
        <span>/</span>
        <p>Terms of Service</p>
      </div>
    </div>
  </div>
</footer>
