<header id="header" class="header">
  <div class="container container-height">
    <nav class="header-nav">
      <a href="#header" class="logo">energy.flow</a>
      <div class="header-menu">
        <a href="#header" class="header-btn header-btn-home">Home</a>
        <a href="#" class="header-btn header-btn-favorites">Favorites</a>
      </div>
      <address class="social">
        <ul class="social-list">
          <li class="social-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="social-link"
              target="_blank"
            >
              <svg class="social-icon" width="28" height="28">
                <use href="../img/icons_sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="social-link"
              target="_blank"
            >
              <svg class="social-icon" width="28" height="28">
                <use href="../img/icons_sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="social-link"
              target="_blank"
            >
              <svg class="social-icon" width="28" height="28">
                <use href="../img/icons_sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>
    </nav>
  </div>
</header>
