<section id="hero" class="hero">
  <div class="container hero-container">
    <div class="hero-left">
      <ul class="hero-left-list">
        <li class="hero-left-item">#Sport</li>
        <li class="hero-left-item">#Healthy</li>
        <li class="hero-left-item">#Workout</li>
        <li class="hero-left-item">#Diet</li>
      </ul>
    </div>
    <div class="hero-right">
      <h1 class="hero-title">
        Get <span class="title-acent">Body</span> in shape, Stay healthy
      </h1>
    </div>
  </div>
</section>
