<section id="quote" class="quote">
  <div class="container container-quote">
    <div class="quote-left">
      <span class="qoute-inverted-commas">
        <svg class="qoute-icon">
          <use href="./img/icons_sprite.svg#icon-inverted-commas"></use>
        </svg>
      </span>
      <span class="qoute-run-man">
        <svg class="qoute-icon" width="32" height="32">
          <use href="./img/icons_sprite.svg#icon-run-man"></use>
        </svg>
      </span>
      <h2 class="quote-title">Quote of the day</h2>
      <div class="js-quote-wrap"></div>
    </div>
    <div class="quote-right"></div>
  </div>
</section>
