<section id="sport" class="sport hide">
  <div class="container sport-container">
    <div class="sport-left"></div>
    <div class="sport-right">
      <span class="sport-icon-wrap">
        <svg class="sport-icon" width="20" height="20">
          <use href="./img/icons_sprite.svg#icon-fluent"></use>
        </svg>
      </span>
      <h2 class="sport-title">110 min</h2>
      <p class="sport-span">Daily norm of sports</p>
      <p class="sport-text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day?
      </p>
    </div>
  </div>
</section>
