.exercises {
  padding-top: 20px;
}

@media only screen and (min-width: 768px) {
  .exercises {
    padding-top: 16px;
  }
}

/* @media only screen and (min-width: 1440px) {

} */

.container-exercises {
  padding: 40px 20px;
  border-radius: 30px;
  background-color: var(--background-primary);
}

@media only screen and (min-width: 768px) {
  .container-exercises {
    padding: 64px 48px;
    border-radius: 50px;
  }
}

.exercises-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;

  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .exercises-title {
    font-size: 44px;
    line-height: 1.09;

    margin-bottom: 32px;
  }
}

.exercises-btn-list {
  display: flex;
  gap: 6px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .exercises-btn-list {
    gap: 8px;
    margin-bottom: 32px;
  }
}

.exercises-btn {
  display: block;
  background-color: transparent;
  border: none;

  font-size: 14px;
  line-height: 1.29;

  background-color: var(--secondary-cl-text);
  padding: 7px 14px;
  border-radius: 30px;
}

@media only screen and (min-width: 768px) {
  .exercises-btn {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 20px;
  }
}

.exercises-btn.exercises-btn-active {
  color: var(--secondary-cl-text);
  background-color: var(--background-accent);

  transition: background-color var(--trans);
}

@media only screen and (min-width: 768px) {
  .exercises-btn.exercises-btn-active {
    color: var(--secondary-cl-text);
    background-color: var(--background-accent);
  }
}

.exercises-btn-active:hover,
.exercises-btn-active:focus {
  background-color: var(--cl-hover-item);
}

.exercises-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .exercises-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 14px;
  }
}

.exercises-item {
  position: relative;

  width: 313px;
  height: 250px;

  border-radius: 12px;
  border: 1px solid var(--secondary-cl-text-30);

  transition: transform var(--trans);
}

.exercises-item:hover {
  transform: scale(1.05);
}

.exercises-item-img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.exercises-item-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    0deg,
    rgba(16, 16, 16, 0.7) 0%,
    rgba(16, 16, 16, 0.7) 100%
  );
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.exercises-item-title {
  color: var(--secondary-cl-text);
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

.exercises-item-text {
  color: var(--secondary-cl-text-40);
  font-size: 12px;
  text-align: center;
}

.exercises-numbering-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.exercises-numbering-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  padding: 0px 11px;
  color: var(--raiting-gray-40);
  font-size: 24px;
  letter-spacing: 0.04em;
  line-height: 32px;
  border-radius: 18px;
  border: 1px solid transparent;
}

.exercises-numbering-item-active {
  color: var(--primary-cl-text);
  border: 1px solid var(--primary-cl-text);
}
