.favorites-quote {
  display: flex;
  flex-direction: column;
  padding-top: 96px;
}

@media only screen and (min-width: 768px) {
  .favorites-quote {
    flex-direction: column;
    padding-top: 180px;
    padding-bottom: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .favorites-quote {
    flex-direction: row;
    padding-top: 156px;
  }
}

.favorites-quote-left {
  position: relative;
  width: 704px;
  padding: 64px 64px 64px 114px;
  border-radius: 30px;
  background: #7e847f;
}

@media only screen and (min-width: 768px) {
  .favorites-quote-left {
    border-radius: 50px;
  }
}

.favorites-quote-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .favorites-quote-right {
    flex-direction: row;
    width: 100%;
    margin-top: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .favorites-quote-right {
    margin-top: 0;
    width: 704px;
  }
}

.favorites-quote-img {
  width: 100%;
  height: 272px;
  background-image: url('../img/favorites.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

@media only screen and (min-width: 768px) {
  .favorites-quote-img {
    width: 368px;
    height: 302px;
    border-radius: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .favorites-quote-img {
    width: 352px;
  }
}

.favorites-quote-message {
  width: 100%;
  padding: 96px 101px;
  border-radius: 30px;
  background: var(--background-secondary);
}

@media only screen and (min-width: 768px) {
  .favorites-quote-message {
    width: 368px;
    padding: 105px 110px;
    border-radius: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .favorites-quote-message {
    width: 352px;
  }
}

.favorites-quote-icon {
  fill: var(--primary-cl-text);
}

.favorites-quote-title {
  margin-top: 10px;
  margin-bottom: 6px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

@media only screen and (min-width: 768px) {
  .favorites-quote-title {
    font-size: 24px;
    line-height: 1.33;
  }
}

.favorites-quote-text {
  color: var(--raiting-gray-60);
  font-size: 14px;
  line-height: 1.29;
}

.favorites-main {
  border-radius: 30px;
  background-color: var(--background-primary);
  padding: 40px 20px;
  margin-bottom: 23px;
}

@media only screen and (min-width: 768px) {
  .favorites-main {
    border-radius: 50px;
    padding: 64px 48px;
    margin-bottom: 16px;
  }
}

.favorites-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .favorites-title {
    font-size: 44px;
    line-height: 1.1;
    margin-bottom: 32px;
  }
}

.favorites-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media only screen and (min-width: 768px) {
  .favorites-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 14px;
  }
}

@media only screen and (min-width: 1440px) {
  .favorites-list {
    row-gap: 28px;
    column-gap: 20px;
  }
}

.favorites-item {
  width: 100%;
  padding: 16px;
  border-radius: 15px;
  background-color: var(--background-secondary);
}

@media only screen and (min-width: 768px) {
  .favorites-item {
    width: 313px;
  }
}

@media only screen and (min-width: 1440px) {
  .favorites-item {
    width: 424px;
  }
}

.item-head-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: 25px;
}

.favorites-category {
  color: var(--secondary-cl-text);
  font-size: 12px;
  font-weight: 500;
  line-height: normal;

  border-radius: 15px;
  background: var(--background-accent);
  padding: 5px 8px;
}

.favorites-btn-del {
  background-color: transparent;
  padding-top: 4px;
}

.favorites-icon-del {
  fill: transparent;
}

.favorites-btn-start {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: transparent;
  margin-left: auto;
}

.favorites-btn-icon {
  stroke: #1b1b1b;
}

.item-main-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .item-main-wrap {
    margin-bottom: 8px;
  }
}

.favorites-icon-run {
  fill: #f6f6f6;
  background-color: var(--background-accent);
  border-radius: 50%;
}

.item-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

@media only screen and (min-width: 768px) {
  .item-title {
    font-size: 24px;
    line-height: 1.33;
  }
}

.item-footer-wrap {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  column-gap: 16px;
}

@media only screen and (min-width: 768px) {
  .item-footer-wrap {
  }
}

.item-footer-flex {
  display: flex;
  gap: 4px;
}

.item-footer-name {
  color: rgba(27, 27, 27, 0.4);
  font-size: 12px;
}

.item-footer-text {
  font-size: 12px;
}
