.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.container-height {
  padding-top: 20px;
}

@media only screen and (min-width: 768px) {
  .container-height {
    padding-top: 16px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 177px;
  padding: 20px 20px 0 20px;
}

@media only screen and (min-width: 768px) {
  .header-nav {
    gap: 0;
    padding: 16px 32px 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .header-nav {
    gap: 397px;
    padding: 24px 48px 0 48px;
  }
}

.logo {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .logo {
    font-size: 28px;
    line-height: 1;
    margin-right: 81px;
  }
}

@media only screen and (min-width: 1440px) {
  .logo {
    margin-right: 0px;
  }
}

.header-mobile-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
}

@media only screen and (min-width: 768px) {
  .header-mobile-btn {
    display: none;
  }
}

.mobile-open-icon {
  stroke: var(--background-accent);
}

.header-menu {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 211px;
    height: 52px;
    padding: 8px 16px;
    margin-right: 74px;
    border-radius: 60px;
    background: var(--background-accent);
  }
}

@media only screen and (min-width: 1440px) {
  .header-menu {
    margin-right: 0;
  }
}

.header-btn {
  display: block;

  border: 0;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.5;
}

.header-btn-home {
  display: flex;
  padding: 6px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  background: var(--background-secondary);
}

.header-btn-favorites {
  color: var(--secondary-cl-text);
}

.social {
  display: none;
}

@media only screen and (min-width: 768px) {
  .social {
    display: block;
  }
}

.social-list {
  display: flex;
  gap: 12px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px;
  border-radius: 10px;
  border: 1px solid var(--cl-item-border);

  transition: border-color var(--trans);
}

.social-icon {
  fill: var(--cl-item);
  transition: fill var(--trans);
}

.social-link:hover,
.social-link:focus {
  border-color: var(--cl-hover-border);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--cl-hover-item);
}
