.container-height {
  position: relative;
}

.header-nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px 0 20px;
  width: 295px;
}

@media only screen and (min-width: 768px) {
  .header-nav {
    width: 736px;
    padding: 48px 32px 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .header-nav {
    padding: 40px 48px 0 48px;
    width: 1408px;
  }
}

.logo {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .logo {
    font-size: 28px;
    line-height: 1;
  }
}

@media only screen and (min-width: 1440px) {
  .logo {
    margin-right: 0px;
  }
}

.header-mobile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 16px;
}

@media only screen and (min-width: 768px) {
  .header-mobile-btn {
    display: none;
  }
}

.mobile-open-icon {
  stroke: var(--background-accent);
}

@media only screen and (min-width: 768px) {
  .mobile-open-icon {
    display: none;
  }
}

.header-menu {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 211px;
    height: 52px;
    padding: 8px 16px;
    border-radius: 60px;
    background: var(--background-accent);
  }
}

@media only screen and (min-width: 1440px) {
  .header-menu {
    margin-right: 0;
  }
}

.header-btn {
  display: block;

  border: 0;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.5;
}

.header-btn-home {
  display: flex;
  padding: 6px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  background: var(--background-secondary);
}

.header-btn-favorites {
  color: var(--secondary-cl-text);
}

.social {
  display: none;
}

@media only screen and (min-width: 768px) {
  .social {
    display: block;
  }
}

.social-list {
  display: flex;
  gap: 12px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  padding: 8px;
  border-radius: 10px;
  border: 1px solid var(--cl-item-border);

  transition: border-color var(--trans);
}

.social-icon {
  fill: var(--cl-item);
  transition: fill var(--trans);
}

.social-link:hover,
.social-link:focus {
  border-color: var(--cl-hover-border);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--cl-hover-item);
}

/* ===== Mobile Menu ===== */

.mob-menu-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 90vw;
  height: 100vh;
  padding: 19px 20px 40px 20px;

  border-radius: 30px;
  background: var(--background-accent);

  z-index: 999;

  display: flex;
  flex-direction: column;

  transform: translateX(-110%);
  transition: transform var(--trans);
}

.mob-menu-container.is-open {
  transform: translateX(0);
}

.mob-menu-logo {
  color: var(--secondary-cl-text);
  font-weight: 700;
  letter-spacing: -0.02em;
}

.mob-menu-btn-close {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mob-menu-btn-close-icon {
  stroke: var(--secondary-cl-text);
}

.mob-menu-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.mob-menu-social-list {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.mob-menu-social-link {
  width: 41px;
  height: 41px;
  border-color: var(--secondary-cl-text-20);
}

.mob-menu-social-icon {
  fill: var(--secondary-cl-text);
}

.mob-menu-item:not(:first-child) {
  margin-top: 20px;
}

.mob-menu-link {
  color: var(--secondary-cl-text);
}

.mob-menu-link.active {
  display: block;
  color: var(--primary-cl-text);
  padding: 6px 26px;
  background-color: var(--background-secondary);
  border-radius: 30px;
}
