.quote {
  padding-top: 16px;
}

.container-quote {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 1440px) {
  .container-quote {
    flex-direction: row;
  }
}

.quote-left {
  position: relative;

  width: 100%;
  padding: 42px 20px 40px 66px;
  border-radius: 30px;
  background: var(--background-accent);
}

@media only screen and (min-width: 768px) {
  .quote-left {
    border-radius: 50px;
    padding: 64px 80px 64px 130px;
  }
}

@media only screen and (min-width: 1440px) {
  .quote-left {
    width: 704px;
    padding: 64px 64px 64px 114px;
  }
}

.qoute-inverted-commas {
  position: absolute;
  top: 42px;
  right: 20px;
}

@media only screen and (min-width: 768px) {
  .qoute-inverted-commas {
    top: 32px;
    right: 80px;
  }
}

@media only screen and (min-width: 1440px) {
  .qoute-inverted-commas {
    right: 64px;
  }
}

.qoute-inverted-commas .qoute-icon {
  width: 28px;
  height: 28px;
}

@media only screen and (min-width: 768px) {
  .qoute-inverted-commas .qoute-icon {
    width: 48px;
    height: 48px;
  }
}

.qoute-run-man {
  position: absolute;
  top: 40px;
  left: 20px;
}

@media only screen and (min-width: 768px) {
  .qoute-run-man {
    top: 64px;
    left: 80px;
  }
}

@media only screen and (min-width: 1440px) {
  .qoute-run-man {
    left: 64px;
  }
}

.quote-title {
  color: var(--secondary-cl-text);
  margin-bottom: 14px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}

@media only screen and (min-width: 768px) {
  .quote-title {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 16px;
  }
}

.quote-text {
  color: var(--secondary-cl-text-60);
  font-size: 14px;
  line-height: 1.31;

  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .quote-text {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 25px;
  }
}

.qoute-name {
  color: var(--secondary-cl-text);
  font-weight: 500;
}

.quote-right {
  width: 100%;
  height: 302px;
  background-image: url('../img/quote-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

@media only screen and (min-width: 1440px) {
  .quote-right {
    width: 704px;
    border-radius: 50px;
  }
}
