/* Reset styles */
body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--secondary-cl-text);
  color: var(--primary-cl-text);
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

input,
form {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1408px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.btn-grey {
  display: block;
  padding: 12px 157px;

  color: var(--secondary-cl-text);
  line-height: 1.5;
  border-radius: 30px;
  background-color: var(--background-accent);

  transition: background-color var(--trans);
}

.btn-grey:hover,
.btn-grey:focus {
  background-color: var(--cl-hover-item);
}
