:root {
  /* Colors text*/
  --primary-cl-text: #1b1b1b;
  --primary-cl-text-40: rgba(252, 249, 249, 0.4);

  --secondary-cl-text: #f6f6f6;
  --secondary-cl-text-30: rgba(246, 246, 246, 0.3);
  --secondary-cl-text-40: rgba(246, 246, 246, 0.4);
  --secondary-cl-text-60: rgba(246, 246, 246, 0.6);

  /* Colors background*/

  --background-primary: #e8e8e8;
  --background-secondary: #fff;
  --background-accent: #7e847f;
  --background-button-active: #5f6560;

  /* Colors raiting */
  --raiting-gray-20: rgba(27, 27, 27, 0.2);
  --raiting-gray-40: rgba(27, 27, 27, 0.4);
  --raiting-orange: #eea10c;

  /* Colors item */
  --cl-item: #7e847f;
  --cl-item-border: rgba(126, 132, 127, 0.2);
  --cl-hover-item: #5f6560;
  --cl-hover-border: rgba(95, 101, 96, 0.2);

  /* Transition */
  --trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
